# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

/miner/worker/tmp
/data
/db/local_cache
/old
/playgrounds
.DS_Store
.idea

resources/buildings/rosreestr/moscow.gpkg
/tmp

configs/secrets